body {
  text-align: center;
  background-color: #a78bfa;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.brand-title {
  font-size: 3rem;
  color: #d9d9d9;
}

.brand-title span {
  color: #ffde59;
}

.brand-description {
  font-size: 1.4rem;
}

.links {
  display: flex;
}

.links a {
  color: #d9d9d9;
  font-size: 1.2rem;
  margin: 1rem;
}

.link :hover {
  color: #4700d3;
}

.card {
  transform: scale(1);
  opacity: 10;
  transition: all 350ms ease-in-out;
}
.card:hover {
  transform: scale(1.15);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* z-index: 2; */
}

.add-fav :hover {
  color: red;
}

.submit-button {
  transform: scale(1);
  opacity: 10;
  transition: all 150ms ease-in-out;
}
.submit-button:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* z-index: 2; */
}

.shop-now {
  transform: scale(1);
  opacity: 10;
  transition: all 150ms ease-in-out;
}
.shop-now:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: red;
}

.button-shadow:hover {
  box-shadow: 0 0 20px purple;
}

.button-fav:hover > .show-fav {
  color: red;
}

.form-input-field {
  width: 100%;
  flex-grow: 1;
  border-radius: 0.25rem;
  padding: 0.75rem;
  outline: none;
  border: 2px solid rgb(172, 170, 170);
  transition: all 0.3s ease;
  font-size: 1rem;
}
.form-input-field:hover {
  border: 0.125rem solid purple;
}
